*.app
example-feature-tracker/bin/data/*.png
example-calibration/bin/

# OS-specific ignore patterns

#Linux
/*/*/Makefile
/*/*/config.make
# Leave Android files in until project generation works
!/android/*/Makefile
!/android/*/config.make

#Android
/*/*/test link
!/android/*/.cproject
!/android/*/.project
!/android/*/.settings


# Some general ignore patterns

build/
obj/
*.o
Debug*/
Release*/
*.mode*
*.app/
*.pyc
.svn/

# IDE-specific ignore patterns

#XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
#XCode 4
xcuserdata
*.xcworkspace

#Code::Blocks
*.depend
*.layout

#Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
ipch/

#Eclipse
.metadata
local.properties
.externalToolBuilders

# OS-specific ignore patterns

#Linux
*~
# KDE
.directory
.AppleDouble

#OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

#Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

#Android
.csettings
/libs/openFrameworksCompiled/project/android/paths.make

# Miscellaneous
.mailmap

